.list-item-container  {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-columns: 4em 1fr;
}

.date-container {
    position: fixed;
    font-weight: normal;
}

.username-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 115px;
    display: inline-block;
    position: relative;
    top: 5px;
}