.list-item-container {
  display: grid;
  grid-column: 1fr 1fr;
  grid-template-columns: 4em 1fr;
}

.date-container {
  float: right;
  top: 0.3125rem;
  position: relative;
}

.username-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  display: inline-block;
  position: relative;
  top: 0.3125rem;
}
