.widget-icon {
  position: relative;
  top: 0.8em;
  font-size: 1.8em;
  color: #fff;
  left: 0.8em;
}


@media (min-width: 500px) {
  .widget-icon {
    position: relative;
    top: 0;
    font-size: 1em;
    color: #fff;
    left: 0;
  }
}