.tweet-widget-container {
  background: #1da1f2;
  width: 5em;
  height: 5em;
  position: fixed;
  bottom: 20%;
  right: 10%;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.widget-icon {
  position: relative;
  top: 0.8em;
  font-size: 1.8em;
  color: #fff;
}
