@media screen and (max-width: 700px) {
  .create-tweet-modal {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 700px;
  }

  .create-tweet-modal .modal-content {
    height: 100% !important;
  }
}

.create-tweet-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.avatar-container {
  height: 100%;
  width: 5em;
  border: 1px solid;
}

.write-tweet-container {
  height: 100%;
  width: 100%;
  border: 1px solid;
}

.write-tweet-container textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: hidden;
  max-height: 25em;
}
