.create-tweet-modal {
  padding-top: 1em;
}

@media screen and (max-width: 700px) {
  .create-tweet-modal {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 700px;
  }

  .create-tweet-modal .modal-content {
    height: 100% !important;
  }
}

.create-tweet-container {
  display: grid;
  grid-template-columns: 0.5fr 5fr;
}

.avatar-container {
  height: 100%;
  width: 5em;
  margin-left: auto;
}

.write-tweet-container {
  height: 100%;
  width: 100%;
}

.write-tweet-container textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: hidden;
  max-height: 25em;
}

.everyone-see-toggle {
  cursor: pointer;
}

.globe-icon {
  position: relative;
  bottom: 1.5px;
}

.text-progressbar {
  font-size: 1.5em;
  height: 1.5em;
  width: 1.5em;
  position: relative;
  bottom: 4px;
}
