@media screen and (max-width: 700px) {
  .create-tweet-modal {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 700px;
  }

  .create-tweet-modal .modal-content {
    height: 100% !important;
  }
}
