.avatar {
  width: 4em;
  height: 4em;
}

.header-home-label {
  top: 0.5em;
  left: 0.4em;
  right: 0;
}

.top-tweets {
  margin-left: auto;
  margin-top: 0.5em;
  font-size: 1.5em;
}

.switch-icon {
  position: relative;
  bottom: 0.5rem;
  font-size: 1.25rem;
  left: 0.3rem;
  color: #fff;
}