.actions-card {
  position: sticky;
  width: 100%;
  bottom: 0;
}

.actions-container {
  justify-content: center;
}

.actions-icon {
  border-top: none;
  border-bottom: none;
  font-size: 2em;
}

@media (min-width: 500px) {
  .actions-card {
    width: 8em;
    position: fixed;
    top: 0;
    min-height: 100vh;
    height: auto;
  }
}

.avatar-action {
    width: 2em;
    height: 2em;
}
